body {
  font-family: 'Quicksand', sans-serif;
}

.jumbotron {
  padding-top: 7rem;
  background-color: #212529;
}

.ig {
  width: 30px;
  height: 30px;
}

.ig:hover {
  background-color: #ffc107;
  border-radius: 30%;
}

.ig:active {
  width: 35px;
  height: 35px;
}

.fb {
  width: 40px;
  height: 40px;
}

.fb:hover {
  background-color: #ffc107;
  border-radius: 100%;
}

.fb:active {
  width: 35px;
  height: 35px;
}

.git {
  width: 30px;
  height: 30px;
}

.git:hover {
  background-color: #ffc107;
  border-radius: 100%;
}

.git:active {
  width: 35px;
  height: 35px;
}

.twitter {
  margin-left: 5px;
  width: 30px;
  height: 30px;
}

.twitter:hover {
  background-color: #ffc107;
  border-radius: 100%;
}

.gd {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.gd:hover {
  background-color: #ffc107;
  border-radius: 100%;
}

#home {
  background-color: #212529;
}

#about {
  padding-bottom: 5rem;
}

.img-skill {
  margin-top: 100px;
}

.img-skill img {
  filter: saturate(0);
  padding: 0px;
}

.img-skill img:hover {
  filter: saturate(1);
}

#contact {
  padding-bottom: 10rem;
}

section {
  padding-top: 8rem;
}

.caption {
  text-align: center;
}

#navbarNav ul li a {
  font-size: 24px;
  margin: 0 20px;
}

#navbarNav ul li a:hover {
  color: yellow;
  font-style: bold;
}

#navbarNav ul li a:active {
  color: red;
  font-style: bold;
}

.card:hover {
  box-shadow: 1px 1px 20px #fff;
}

.card:active {
  scale: 1.1;

}

.portfolio{
  border-radius: 15px;
  aspect-ratio: 1/1;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.portfolio:hover{
  scale: 1.1;
  box-shadow: 10px 0px 20px rgba(255, 255, 255, 0.281);
}