.jumbotron {
  padding-top: 7rem;
  background-color: #212529;
}

.body {
  background-color: #212529;
}
#about {
  background-color: #212529;
}
#galery {
  background-color: #212529;
}
#contact {
  background-color: #212529;
}

section {
  padding-top: 6rem;
}

.caption {
  text-align: center;
}
