.jumbotron {
  padding-top: 7rem;
  background-color: #212529;
}

#home {
  background-color: #212529;
}
#about {
  padding-bottom: 5rem;
}
#contact {
  padding-bottom: 10rem;
}

section {
  padding-top: 8rem;
}

.caption {
  text-align: center;
}
